{#<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.19.1/bootstrap-table.min.css" rel="stylesheet">#}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
{#<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css">#}
{#<link href="{% static 'css/plugs/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">#}
<link href="{% static 'css/plugs/bootstrap-table-jumpto.css' %}" rel="stylesheet" type="text/css">
