{% extends 'frame/vue3.html' %}

{% block styles %}
    <!-- 导入样式 -->
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"/>#}
    <link href="https://cdn.bootcdn.net/ajax/libs/element-plus/2.1.9/index.css" rel="stylesheet">
    {% block sub-styles %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    <!-- 导入组件库 -->
    {#    <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>#}
    <script src="https://cdn.bootcdn.net/ajax/libs/element-plus/2.1.9/index.full.min.js"></script>
    {% block sub-scripts %}
    {% endblock %}
{% endblock %}
