amqp==5.1.0
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
astroid @ file:///D:/bld/astroid_1637796453323/work
attrs==21.4.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
billiard==3.6.4.0
Brotli==1.0.9
brotlipy @ file:///D:/bld/brotlipy_1636012457296/work
celery==5.2.3
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046270630/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click @ file:///D:/bld/click_1635822759200/work
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1639699517190/work
cssselect2==0.5.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1638897748254/work
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1638740536582/work
django-hashid-field==3.3.3
django-jinja==2.10.0
django-mysql==4.3.0
django-simpleui==2022.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
docopt==0.6.2
drf-spectacular==0.22.0
et-xmlfile==1.0.1
fonttools==4.31.2
hashids==1.3.1
html5lib==1.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
inflection==0.5.1
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jsonschema==4.4.0
kombu==5.2.4
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1639599315457/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833738092/work
mccabe==0.6.1
Naked==0.1.31
numpy==1.22.1
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
pandas==1.3.5
Pillow==9.0.1
pipreqs==0.4.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
pretty-errors @ file:///home/conda/feedstock_root/build_artifacts/pretty_errors_1638034747243/work
prompt-toolkit==3.0.28
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome==3.14.1
pydantic==1.9.0
pydyf==0.1.2
PyJWT==2.3.0
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1638563695852/work
pymemcache==3.5.1
PyMySQL==1.0.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
PyPDF2==1.27.3
pyphen==0.12.0
pyrsistent==0.18.1
PySocks @ file:///D:/bld/pysocks_1635862594204/work
python-dateutil==2.8.2
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1636649191224/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==6.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
shellescape==3.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
tinycss2==1.1.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
tzdata==2021.5
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
vine==5.0.0
wcwidth==0.2.5
weasyprint==54.2
webencodings==0.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832844911/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1635836590868/work
yarg==0.1.9
zopfli==0.2.1
