{% extends 'frame/element-plus.html' %}
{% load i18n %}

{% block title %}{{ _('Screening') }} - {{ _('Manage') }}{% endblock %}


{% block content %}
    <div id="app">
        <template>
            <div class="common-layout">
                <el-container>
                    <el-aside width="200px">
                        {% block side %}
                            Aside
                        {% endblock %}
                    </el-aside>
                    <el-container>
                        <el-header>
                            {% block header %}
                                Header
                            {% endblock %}
                        </el-header>
                        <el-main>
                            {% block main %}
                                Main
                            {% endblock %}
                        </el-main>
                        <el-footer>
                            {% block footer %}
                                Footer
                            {% endblock %}
                        </el-footer>
                    </el-container>
                </el-container>
            </div>
        </template>
    </div>
{% endblock %}
{% block sub-scripts %}
    <script>
        var vm = Vue.createApp({});
        vm.use(ElementPlus);
        vm.mount('#app');
    </script>
{% endblock %}